.tabDivision {
  /* height: 50vh; */
  /* margin-bottom: 150px; */
}

.tabSection {
  text-align: center;
}

.directionHeader,
.passionHeader,
.cityHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.profilImage {
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-right: 40px;
  border: purple solid 4px;
}

.directionText {
  /* font-style: italic; */
}

.choreImage,
.cityImage {
  border-radius: 5px;
  margin: 20px;
}

.passionText,
.cityText {
  width: 50%;
  margin: 20px;
}

/* Media query for window width less than 1750px */
@media (max-width: 1999px) {
  .passionHeader,
  .cityHeader {
    flex-direction: column;
  }

  .passionText,
  .cityText {
    width: 80%;
  }
}

/* Media query for window width less than 1167px */
@media (max-width: 1167px) {
  .directionHeader {
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 1249px) {
  .choreImage,
  .cityImage {
    width: 536px;
    height: 383px;
  }

  .passionText,
  .cityText {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .choreImage,
  .cityImage {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .passionText,
  .cityText {
    width: 100%;
  }
}
