.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  height: 25vh;
  width: 100vw;
  /* border: red solid 1px; */
}

.headerIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 100%;
  background-image: url("/revermont.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.userSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 75px;
  /* border: red solid 1px; */
}

.userIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* border: red solid 1px; */
}

.userTitle {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 0;
  /* border: red solid 1px; */
}

.navbarBootstrap {
  background: #eee0e0;
  font-size: 16px;
  /* border: green solid 1px; */
}

.navbarContainer {
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: green solid 1px; */
}

/* .navbarCollapse {
  max-height: 200px;
  overflow-y: auto;
} */

.navbarBrand,
.navbarNav {
  color: #4b5c6b;
  font-weight: 500;
}

/* .navbarBrand:hover,
.navbarDropdown a:hover,
.navbarLink:hover,
.navbarBrand:active,
.navbarBrand:focus,
.navbarDropdown a:active,
.navbarDropdown a:focus,
.navbarLink:active,
.navbarLink:focus {
  color: purple;
  font-weight: bold;
} */

.navbarBrand:hover,
.navbarDropdown a:hover {
  color: purple;
  font-weight: bold;
}
