.mediaCardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 40vh; */
  /* width: 95vw; */
  margin: 40px 0px;
  /* border: red solid 1px; */
}

.mediaTitle {
  font-weight: bold;
  color: #5669ff;
  font-size: 18px;
  margin-bottom: 25px;
}

.mediaCardContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageContainer {
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.image {
  border-radius: 5px;
  cursor: pointer;
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
  /* object-position: center; */
  /* border: green solid 1px; */
}

.zoomedImageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.zoomedImage {
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
}
