.pressDivision {
  width: 100vw;
  padding: 40px 0px;
  background-color: #eee0e0;
}

.pressSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 40vh; */
  width: 95vw;
  margin: 0px auto;
  /* border: red solid 1px; */
}

.pressContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pressButton {
  margin-top: 20px;
}
