.simpleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: #eee0e0; */
  width: 50%;
  min-width: 650px;
  margin-top: 20px;
  /* border: 1px solid green; */
}

.formField {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 95%;
  margin: 5px auto;
}

.formButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 95%;
  margin: 5px auto;
  /* border: 1px solid green; */
}

.inputField {
  width: 100%;
  border: 2px solid #e2e8ed;
  border-radius: 3px;
  padding: 8px;
}

.inputField::placeholder {
  color: #e2e8ed;
}

.inputFieldError {
  color: red;
}

.pressButton {
  margin-top: 20px;
  margin-bottom: 10px;
}

.successMessage {
  color: green;
}

/* Media query for window width between 576px and 1167px */
@media (min-width: 576px) and (max-width: 1167px) {
  .simpleForm {
    width: 50%;
    min-width: 536px;
  }
}

/* Media query for window width less than 575px */
@media (max-width: 575px) {
  .simpleForm {
    width: 100%;
    min-width: 0px;
  }
}
