.heroDivision,
.newsDivision,
.listenDivision,
.pressDivision,
.contactDivision {
  width: 100vw;
  padding: 40px 0px;
}

.newsDivision,
.pressDivision {
  background-color: #eee0e0;
}

.heroSection,
.newsSection,
.listenSection,
.pressSection,
.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 40vh; */
  width: 95vw;
  margin: 0px auto;
  /* border: red solid 1px; */
}

.heroContent,
.contactContent {
  display: flex;
  /* flex-wrap: wrap-reverse; */
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: red solid 1px; */
}

.newsContent {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.listenContent,
.pressContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.heroText,
.contactText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px;
  /* border: red solid 1px; */
}

.heroText > h4,
.contactText > h4 {
  font-weight: bold;
}

.heroText > p {
  text-align: center;
  /* min-width: 390px; */
  margin-bottom: 18px;
  /* font-style: italic; */
}

.contactBodyText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contactBodyAdministrators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactForm > h5 {
  margin-top: 20px;
  font-weight: bold;
}

.heroButton,
.newsButton,
.listenButton,
.pressButton {
  margin-top: 20px;
}

.heroImage,
.newsEvent,
.pressReview {
  margin: 20px;
  border-radius: 5px;
  /* border: green solid 1px; */
}

/* Media query for window width less than 1167px */
@media (max-width: 1167px) {
  .heroContent,
  .contactContent {
    flex-direction: column-reverse; /* change direction to column-reverse */
  }

  .heroText,
  .contactText {
    width: 95vw;
  }
}

/* Media query for window width between 576px and 1167px */
@media (min-width: 576px) and (max-width: 1167px) {
  .heroImage {
    width: 536px;
    height: 268px;
  }

  .newsContent {
    flex-wrap: wrap;
  }
}

/* Media query for window width less than 575px */
@media (max-width: 575px) {
  .heroImage {
    width: 100%;
    object-fit: cover;
  }

  .newsContent,
  .pressContent {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .newsEvent,
  .pressReview {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
