.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 40vh; */
  width: 95vw;
  margin: 0 auto;
  /* border: red solid 1px; */
}

.heroContent {
  display: flex;
  /* flex-wrap: wrap-reverse; */
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: red solid 1px; */
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px;
  /* border: red solid 1px; */
}

.heroText > h4 {
  font-weight: bold;
}

.heroText > p {
  text-align: center;
  /* min-width: 390px; */
  margin-bottom: 18px;
  /* font-style: italic; */
}

.heroImage {
  margin: 20px;
  border-radius: 5px;
  /* border: green solid 1px; */
}

/* Media query for window width less than 1167px */
@media (max-width: 1167px) {
  .heroContent {
    flex-direction: column-reverse; /* change direction to column-reverse */
  }

  .heroText {
    width: 95vw;
  }
}

/* Media query for window width between 576px and 1167px */
@media (min-width: 576px) and (max-width: 1167px) {
  .heroImage {
    width: 536px;
    height: 268px;
  }
}

/* Media query for window width less than 575px */
@media (max-width: 575px) {
  .heroImage {
    width: 100%;
    object-fit: cover;
  }
}
